{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Pengguna</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <!-- header -->
    <div>
        <div class="bg-color-blue bg-body-tertiary ff-source-sans" >
            <!-- navbar -->
            <div class="container-fluid">
                <div class="row align-items-center pt-2 pb-2">
                    <div class="col-3 px-1">
                        <a href="#" class="pull-left mt-2"><img src="{% static '/img/logo_bps.png'%}" alt="logo_bps" style="width: 250px;"></a> 
                    </div>
                    <div class="col-6 navbar d-flex justify-content-center">
                      <ul class="nav nav-pills text-light">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'index' %}">
                                <span><iconify-icon inline icon="material-symbols:dashboard"></iconify-icon></span>
                                &nbsp;Dashboard</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link text-light" href="{% url 'klasifikasi_berita' %}">
                              <span><iconify-icon inline icon="material-symbols:newspaper-rounded" style="font-size: 20px;"></iconify-icon></span>
                              &nbsp;Klasifikasi Berita</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="background-color: #367B99;" aria-current="page" href="#">
                                <span><iconify-icon inline icon="mdi:users-group" style="font-size: 20px;"></iconify-icon></span>
                            Kelola Pengguna</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-3 px-4">
                      <div class="dropdown d-flex justify-content-end align-items-center">
                        <img src="{% static '/img/pp.jpg'%}" alt="foto profil user" class="rounded-circle border border-2 mx-2" style="border-color: #0F8DC6!important; width: 2rem; height: 2rem;">
                        <a class="dropdown-toggle text-light" style="text-decoration: none;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Nadira
                        </a>
                        <ul class="dropdown-menu shadow">
                          <li style="text-align: center; margin-top: 8px; margin-bottom: 5px"><img src="{% static '/img/pp.jpg'%}" alt="foto profil user" class="rounded-circle border border-2 mx-2" style="border-color: #0F8DC6!important; width: 3rem; height: 3rem;"></li>
                          <li><a class="dropdown-item fw-bold mt-2 mb-0" style="text-align: center;" >{{user}}</a></li>
                          <li style="text-align: center;" ><a class="dropdown-item mt-0 mb-2 py-0" style="color: #807B7B; font-size: 14px;">{{email_user}}</a></li>
                          <li style="text-align: center;"><a class="dropdown-item">
                            <div class="btn btn-success rounded-pill text-dark ff-source-sans py-1" type="button" style="font-weight: 700; font-size: 13px;">Admin</div></a>
                          </li>
                          <hr class="mt-2 mb-2 my-1">
                          <li>
                            <a class="nav-link fw-bold d-flex align-items-center ms-3" href="#" style="color: #807B7B; font-size: 14px;">
                              <span><iconify-icon inline icon="material-symbols:logout" style="font-size: 25px;"></iconify-icon></span>
                              &nbsp;Log Out</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <!-- tulisan kelola pengguna -->
    <div class="container-fluid ">
        <div class="row d-flex justify-content-start text-start mt-4 ms-5 px-5">
          <h4 class="ff-source-sans text-dark" style="font-weight: 700;">
            <span><iconify-icon inline icon="mdi:users-group" style="font-size:27px;"></iconify-icon></span>&nbsp; Kelola Pengguna
          </h4>
        </div>
      </div>

    <!-- search dan tambah pengguna -->
    <div class="container-fluid">
        <div class="row justify-content-end mx-5 px-5">
            <div class="col-10 d-flex justify-content-end px-0">
                <div class="mx-3">
                    <form role="search">
                        <input class="form-control w-100 border" style="border-color: #AFAAAA !important;" type="search" placeholder="Cari Pengguna" aria-label="Search" style="background-color: #ECECEC;">
                    </form>
                </div>
                <button type="button" class="btn btn-warning text-light ff-source-sans" style="background-color: #E18F2C;">
                    <span><iconify-icon inline icon="material-symbols:add-circle" style="font-size:20px;"></iconify-icon></span>&nbsp;Tambah Pengguna
                </button>
            </div>
        </div>
    </div>

    <!-- card tabel data penggguna-->
    <div class="container-fluid">
        <div class="row d-flex align-item-center justify-content-center mx-5 mb-5 my-3 px-5">
          <div class="card d-flex shadow" style="background-color: #ECECEC;">
            
            <!--baris tulisan Daftar Pengguna -->
            <div class="row mt-3 ms-1">
              <h4 class="ff-source-sans text-dark" style="font-weight: 700;" >Daftar Pengguna</h4>
            </div>
  
            <!-- tabel -->
            <table class="table mt-4">
              <!-- nama kolom -->
              <thead>
                <tr>
                  <div class="d-flex justify-content-center align-items-center">
                    <th scope="col">Nama</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aksi</th>
                  </div>
                </tr>
            </thead>
              <!-- data -->
              <tbody>
                <tr class="ff-source-sans" style="color: #807B7B; font-size: 14px; background-color: #E6E6E6 !important;">
                    <td>
                        Menampilkan 2 dari Total 20 Pengguna
                    </td>
                    <td></td><td></td><td></td>
                </tr>
                <tr class="ff-source-sans" style="font-size: 20px;">
                  <td>
                    <div class="row">
                        <div class="col-1 ms-3 d-flex align-items-center">
                            <img src="{% static '/img/pp.jpg'%}" alt="foto profil user" class="rounded-circle border border-2 mx-2" style="border-color: #0F8DC6!important; width: 2rem; height: 2rem;">
                        </div>
                        <div class="col ms-3">
                            Nadira Alifia Ionendri
                    <br> <a href="" style="color: #777777; text-decoration: none;">alifianadira11@gmail.com </a>
                        </div>
                    </div>
                  </td>
                  <td class="pt-3">
                    <div class="btn btn-success rounded-pill text-dark ff-source-sans py-1" type="button" style="font-weight: 700; font-size: 12px;">Admin</div>
                  </td>
                  <td class="align-items-center pt-4">
                    <span><iconify-icon inline icon="material-symbols:settings" style="font-size:16px;"></iconify-icon></span>&nbsp;Ubah Status</td>
                    <td class="align-items-center pt-4">
                    <span><iconify-icon inline icon="ic:baseline-remove-circle" style="font-size:17px;"></iconify-icon></span>&nbsp;Hapus Pengguna</td>
                  </td>
                </tr>
                <tr class="ff-source-sans" style="font-size: 20px;">
                  <td>
                    <div class="row">
                        <div class="col-1 ms-3 d-flex align-items-center">
                            <img src="{% static '/img/pp.jpg'%}" alt="foto profil user" class="rounded-circle border border-2 mx-2" style="border-color: #0F8DC6!important; width: 2rem; height: 2rem;">
                        </div>
                        <div class="col ms-3">
                            Nadira Alifia Ionendri
                    <br> <a href="" style="color: #777777; text-decoration: none;">alifianadira11@gmail.com </a>
                        </div>
                    </div>
                  </td>
                  <td class="pt-3">
                    <div class="btn btn-success rounded-pill text-dark ff-source-sans py-1" type="button" style="font-weight: 700; font-size: 12px;">Admin</div>
                  </td>
                  <td class="align-items-center pt-4">
                    <span><iconify-icon inline icon="material-symbols:settings" style="font-size:16px;"></iconify-icon></span>&nbsp;Ubah Status</td>
                    <td class="align-items-center pt-4">
                    <span><iconify-icon inline icon="ic:baseline-remove-circle" style="font-size:17px;"></iconify-icon></span>&nbsp;Hapus Pengguna</td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    <!-- Pagination -->
    <div class="container-fluid">
        <nav class="ff-source-sans me-5 pe-5" aria-label="Page navigation example" style="font-weight:600;">
          <ul class="pagination justify-content-end" id="pagination">
            <li class="page-item"><a class="page-link" href="#">Awal</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Akhir</a></li>
          </ul>
        </nav>
      </div>
  
      <!-- footer -->
      <div class="text-center mt-5 mb-3 ff-source-sans pt-5" style="color: #777777 ;">
      Magang MBKM Universitas Riau 2023
      </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    
</body>
</html>