{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPB - Detail Berita</title>
    <link rel="icon" href="{% static '/img/logo-bps.png'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <!-- header -->
    <div>
        <div class="bg-color-blue bg-body-tertiary ff-source-sans" >
            <!-- navbar -->
            <div class="container-fluid">
                <div class="row align-items-center pt-2 pb-2">
                    <div class="col-3 px-1">
                        <a href="#" class="pull-left mt-2"><img src="{% static '/img/logo_bps.png'%}" alt="logo_bps" style="width: 250px;"></a> 
                    </div>
                    <div class="col-6 navbar d-flex justify-content-center">
                      {% if user.is_staff == True %}
                      <ul class="nav nav-pills text-light">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'index' %}">
                                <span><iconify-icon inline icon="material-symbols:dashboard"></iconify-icon></span>
                                &nbsp;Dashboard</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link text-light" href="{% url 'klasifikasi_berita' %}">
                              <span><iconify-icon inline icon="material-symbols:newspaper-rounded" style="font-size: 20px;"></iconify-icon></span>
                              &nbsp;Klasifikasi Berita</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'kelola_pengguna' %}">
                              <span><iconify-icon inline icon="mdi:users-group" style="font-size: 20px;"></iconify-icon></span>
                              &nbsp;Kelola Pengguna</a>
                          </li>
                      </ul>
                      {% endif %}
                    </div>
                    <div class="col-3 px-4">
                      <div class="dropdown d-flex justify-content-end align-items-center">
                        <img src="{% static '/img/pp.jpg'%}" alt="foto profil user" class="rounded-circle border border-2 mx-2" style="border-color: #0F8DC6!important; width: 2rem; height: 2rem;">
                        <a class="dropdown-toggle text-light" style="text-decoration: none;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{user.username}}
                        </a>
                        <ul class="dropdown-menu shadow">
                          <li style="text-align: center; margin-top: 8px; margin-bottom: 5px"><img src="{% static '/img/pp.jpg'%}" alt="foto profil user" class="rounded-circle border border-2 mx-2" style="border-color: #0F8DC6!important; width: 3rem; height: 3rem;"></li>
                          <li><a class="dropdown-item fw-bold mt-2 mb-0" style="text-align: center;" >{{user.username}}</a></li>
                          <li style="text-align: center;" ><a class="dropdown-item mt-0 mb-2 py-0" style="color: #807B7B; font-size: 14px;">{{user.email}}</a></li>
                          <li style="text-align: center;"><a class="dropdown-item">
                            <div class="btn btn-success rounded-pill text-dark ff-source-sans py-1" type="button" style="font-weight: 700; font-size: 13px;">Admin</div></a>
                          </li>
                          <hr class="mt-2 mb-2 my-1">
                          <li>
                            <a class="nav-link fw-bold d-flex align-items-center ms-3" href="{% url 'login' %}" style="color: #807B7B; font-size: 14px;">
                              <span><iconify-icon inline icon="material-symbols:logout" style="font-size: 25px;"></iconify-icon></span>
                              &nbsp;Log Out</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <!-- tulisan Detail Berita-->
    <div class="container-fluid ">
        <div class="row d-flex justify-content-start text-start mt-4 ms-5">
          <h4 class="ff-source-sans text-dark" style="font-weight: 700;">
            Detail Berita
          </h4>
        </div>
      </div>

    <!--card detail berita -->
    <div class="container-fluid">
        <div class="row">
          <!-- kolom isi berita -->
            <div class="col-9">
                <div class="row d-flex align-item-center justify-content-center ms-5 mb-5 mt-4 pe-5">
                    <div class="card d-flex shadow" style="background-color: #ECECEC;">
                        <!--judul  -->
                      <div class="row">
                        <h3 class="ff-source-sans fw-bold ps-4 pt-3">{{berita.judul}}</h3>
                      </div>
                      
                      <!-- baris judul tanggal, sumber, topik -->
                      <div class="row d-flex align-items-center ms-0 mt-5">
                          <!-- tanggal -->
                          <div class="col d-flex justify-content-center fw-bold">
                              <span><iconify-icon inline icon="material-symbols:date-range"></iconify-icon></span>
                              &nbsp;Tanggal 
                          </div>
                          <!-- sumber -->
                          <div class="col d-flex justify-content-center fw-bold">
                              <span><iconify-icon inline icon="material-symbols:frame-source"></iconify-icon></span>
                              &nbsp;Sumber</a>
                          </div>
                      </div>

                    <!-- baris isi tanggal, sumber, topik -->
                    <div class="row d-flex align-items-center ms-0 mt-3 mb-2">
                      <!-- tanggal -->
                      <div class="col d-flex justify-content-center">
                          {{berita.tanggal}}
                      </div>
                      <!-- sumber -->
                      <div class="col d-flex justify-content-center">
                          {{berita.sumber}}
                      </div>
                    </div>
                    <hr style="border: 1px solid black;">

                    <!-- teks berita -->
                     <div class="row ff-source-sans mx-3 mt-3 mb-5">
                      {% with berita.isi_berita|split_into_paragraphs as paragraphs %}
                          {% for paragraph in paragraphs %}
                              <p style="text-align: justify;">{{ paragraph }}</p>
                          {% endfor %}
                      {% endwith %}
                    </div>
                    </div>
                </div>
            </div>

          <!-- kolom opsi klasifikasi -->
          <div class="col-3 mt-4 ps-3">
            <form action="/update_pengaruh_berita/{{berita.id}}/" method="post">
              {% csrf_token %}
            <div class="card d-flex shadow" style="width: 18rem; height: 2.3rem; background-color: #1177C2;">
              <div class="h-100 d-flex justify-content-center align-items-center">
                <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                  Detail&nbsp;Klasifikasi
                </h5>
              </div>
            </div>
            <!-- kemiskinan -->
            <div class="card d-flex mt-3 align-items-center" style="width: 18rem; height: 10rem; background-color: #ECECEC;">
              <!-- judul box klasifikasi -->
              <div class="card d-flex shadow justify-content-center mt-3" style="width: 8rem; height: 2.3rem; background-color: #5E4D3D;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    Kemiskinan
                  </h5>
                </div>
              </div>
              <!-- checkbox pengaruh -->
              {% if berita.kemiskinan == 1 %}
              <div class="row my-3">
                <div class="col d-flex align-items-center">
                  <input class="form-check-input m-0" type="radio" name="kemiskinan" value="naik" id="kemiskinan_naik"
                  {% if klasifikasi.kemiskinan.naik == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                  <label class="form-check-label" for="kemiskinan_naik">&nbsp;Naik</label>
                </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="kemiskinan" value="turun" id="kemiskinan_turun"
                    {% if klasifikasi.kemiskinan.turun == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="kemiskinan_turun">&nbsp;Turun</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="kemiskinan" value="tidak_ada" id="kemiskinan_tdk"
                    {% if klasifikasi.kemiskinan.tidak_ada == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="kemiskinan_tdk">&nbsp;Tidak&nbsp;Ada</label>
                  </div>
              </div>
              <!-- hapus klasifikasi -->
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?kemiskinan=0" class="card d-flex shadow ms-auto me-3 mt-2" style="width: 10rem; height: 2rem; background-color: #7E7D7D;text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="mdi:trash" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Hapus Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% else %}
              <div class="row my-3">
                Tidak pada klasifikasi ini
              </div>
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?kemiskinan=1" class="card d-flex justify-content-center align-items-center shadow" style="width: 11rem; height: 2rem; background-color: #50B63F;text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="material-symbols:add-circle-rounded" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Tambah Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% endif %}
            </div>

            <!-- pengangguran -->
            <div class="card d-flex mt-3 align-items-center" style="width: 18rem; height: 10rem; background-color: #ECECEC;">
              <!-- judul box klasifikasi -->
              <div class="card d-flex shadow justify-content-center mt-3" style="width: 9rem; height: 2.3rem; background-color: #BA9966;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    Pengangguran
                  </h5>
                </div>
              </div>
              <!-- checkbox pengaruh -->
              {% if berita.pengangguran == 1 %}
              <div class="row my-3">
                <div class="col d-flex align-items-center">
                  <input class="form-check-input m-0" type="radio" name="pengangguran" value="naik" id="pengangguran_naik"
                  {% if klasifikasi.pengangguran.naik == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                  <label class="form-check-label" for="pengangguran_naik">&nbsp;Naik</label>
                </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="pengangguran" value="turun" id="pengangguran_turun"
                    {% if klasifikasi.pengangguran.turun == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="pengangguran_turun">&nbsp;Turun</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="pengangguran" value="tidak_ada" id="pengangguran_tdk"
                    {% if klasifikasi.pengangguran.tidak_ada == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="pengangguran_tdk">&nbsp;Tidak&nbsp;Ada</label>
                  </div>
              </div>
              <!-- hapus klasifikasi -->
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?pengangguran=0" class="card d-flex shadow ms-auto me-3 mt-2" style="width: 10rem; height: 2rem; background-color: #7E7D7D;text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="mdi:trash" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Hapus Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% else %}
              <div class="row my-3">
                Tidak pada klasifikasi ini
              </div>
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?pengangguran=1" class="card d-flex justify-content-center align-items-center shadow" style="width: 11rem; height: 2rem; background-color: #50B63F; text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="material-symbols:add-circle-rounded" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Tambah Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% endif %}
            </div>

             <!-- demokrasi -->
             <div class="card d-flex mt-3 align-items-center" style="width: 18rem; height: 10rem; background-color: #ECECEC;">
              <!-- judul box klasifikasi -->
              <div class="card d-flex shadow justify-content-center mt-3" style="width: 7rem; height: 2.3rem; background-color: #BE2222;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    Demokrasi
                  </h5>
                </div>
              </div>
              <!-- checkbox pengaruh -->
              {% if berita.demokrasi == 1 %}
              <div class="row my-3">
                <div class="col d-flex align-items-center">
                  <input class="form-check-input m-0" type="radio" name="demokrasi" value="naik" id="demokrasi_naik"
                  {% if klasifikasi.demokrasi.naik == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                  <label class="form-check-label" for="demokrasi_naik">&nbsp;Naik</label>
                </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="demokrasi" value="turun" id="demokrasi_turun"
                    {% if klasifikasi.demokrasi.turun == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="demokrasi_turun">&nbsp;Turun</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="demokrasi" value="tidak_ada" id="demokrasi_tdk"
                    {% if klasifikasi.demokrasi.tidak_ada == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="demokrasi_tdk">&nbsp;Tidak&nbsp;Ada</label>
                  </div>
              </div>
              <!-- hapus klasifikasi -->
              {%if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?demokrasi=0" class="card d-flex shadow ms-auto me-3 mt-2" style="width: 10rem; height: 2rem; background-color: #7E7D7D; text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="mdi:trash" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Hapus Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% else %}
              <div class="row my-3">
                Tidak pada klasifikasi ini
              </div>
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?demokrasi=1" class="card d-flex justify-content-center align-items-center shadow" style="width: 11rem; height: 2rem; background-color: #50B63F; text-decoration: none;">
                {% if user.is_staff == False %} disabled {% endif %}
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="material-symbols:add-circle-rounded" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Tambah Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% endif %}
            </div>

            <!-- inflasi -->
            <div class="card d-flex mt-3 align-items-center" style="width: 18rem; height: 10rem; background-color: #ECECEC;">
              <!-- judul box klasifikasi -->
              <div class="card d-flex shadow justify-content-center mt-3" style="width: 5rem; height: 2.3rem; background-color: #F39320;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    Inflasi
                  </h5>
                </div>
              </div>
              <!-- checkbox pengaruh -->
              {% if berita.inflasi == 1 %}
                <div class="row my-3">
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="inflasi" value="naik" id="inflasi_naik"
                    {% if klasifikasi.inflasi.naik == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="inflasi_naik">&nbsp;Naik</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="inflasi" value="turun" id="inflasi_turun"
                    {% if klasifikasi.inflasi.turun == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="inflasi_turun">&nbsp;Turun</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="inflasi" value="tidak_ada" id="inflasi_tdk"
                    {% if klasifikasi.inflasi.tidak_ada == 1 %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="inflasi_tdk">&nbsp;Tidak&nbsp;Ada</label>
                  </div>
                </div>
                <!-- hapus klasifikasi -->
                {%if user.is_staff == True%}
                <a href="/update_klasifikasi_berita/{{berita.id}}?inflasi=0" class="card d-flex shadow ms-auto me-3 mt-2" style="width: 10rem; height: 2rem; background-color: #7E7D7D; text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="mdi:trash" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Hapus Klasifikasi
                  </h6>
                </div>
                </a>
                {% endif %}
                {% else %}
                <div class="row my-3">
                  Tidak pada klasifikasi ini
                </div>
                {% if user.is_staff == True %}
                <a href="/update_klasifikasi_berita/{{berita.id}}?inflasi=1" class="card d-flex justify-content-center align-items-center shadow" style="width: 11rem; height: 2rem; background-color: #50B63F; text-decoration: none;">
                  <div class="h-100 d-flex justify-content-center align-items-center">
                    <span><iconify-icon inline icon="material-symbols:add-circle-rounded" style="font-size: 20px; color: white;"></iconify-icon></span>
                    <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                      &nbsp;Tambah Klasifikasi
                    </h6>
                  </div>
                </a>
                 {% endif %}
              {% endif %}
            </div>

            <!-- pertumbuhan ekonomi -->
            <div class="card d-flex mt-3 align-items-center" style="width: 18rem; height: 10rem; background-color: #ECECEC;">
              <!-- judul box klasifikasi -->
              <div class="card d-flex shadow justify-content-center mt-3" style="width: 14rem; height: 2.3rem; background-color: #5183C0;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    Pertumbuhan&nbsp;Ekonomi
                  </h5>
                </div>
              </div>
              <!-- checkbox pengaruh -->
              {% if berita.pertumbuhan_ekonomi == 1 %}
              <div class="row my-3">
                <div class="col d-flex align-items-center">
                  <input class="form-check-input m-0" type="radio" name="pertumbuhan_ekonomi" value="naik" id="pertumbuhan_ekonomi_naik"
                  {% if klasifikasi.pertumbuhan_ekonomi.naik == 1 %} checked {% endif %}{% if user.is_staff == False %} disabled {% endif %}>
                  <label class="form-check-label" for="pertumbuhan_ekonomi_naik">&nbsp;Naik</label>
                </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="pertumbuhan_ekonomi" value="turun" id="pertumbuhan_ekonomi_turun"
                    {% if klasifikasi.pertumbuhan_ekonomi.turun == 1 %} checked {% endif %}{% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="pertumbuhan_ekonomi_turun">&nbsp;Turun</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input class="form-check-input m-0" type="radio" name="pertumbuhan_ekonomi" value="tidak_ada" id="pertumbuhan_ekonomi_tdk"
                    {% if klasifikasi.pertumbuhan_ekonomi.tidak_ada == 1 %} checked {% endif %}{% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="pertumbuhan_ekonomi_tdk">&nbsp;Tidak&nbsp;Ada</label>
                  </div>
              </div>
              <!-- hapus klasifikasi -->
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?pertumbuhan_ekonomi=0" class="card d-flex shadow ms-auto me-3 mt-2" style="width: 10rem; height: 2rem; background-color: #7E7D7D; text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="mdi:trash" style="font-size: 20px; color: white;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Hapus Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% else %}
              <div class="row my-3">
                Tidak pada klasifikasi ini
              </div>
              {% if user.is_staff == True %}
              <a href="/update_klasifikasi_berita/{{berita.id}}?pertumbuhan_ekonomi=1" class="card d-flex justify-content-center align-items-center shadow" style="width: 11rem; height: 2rem; background-color: #50B63F; text-decoration: none;">
                <div class="h-100 d-flex justify-content-center align-items-center">
                  <span><iconify-icon inline icon="material-symbols:add-circle-rounded" style="font-size: 20px; color: white; text-decoration: none;"></iconify-icon></span>
                  <h6 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                    &nbsp;Tambah Klasifikasi
                  </h6>
                </div>
              </a>
              {% endif %}
              {% endif %}
            </div>

            <!-- checkbox periksa dan tombol perbarui-->
            <div class="row mt-4" style="max-width: 20rem;">
              <div class="col">
                <div class="card ps-2 py-1" style="background-color: #ECECEC; width: 8rem;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="diperiksa"
                    {% if berita.status == "Diperiksa" %} checked {% endif %} {% if user.is_staff == False %} disabled {% endif %}>
                    <label class="form-check-label" for="defaultCheck1">
                      Diperiksa
                    </label>
                  </div>
                </div>
              </div>
              {% if user.is_staff == True %}
              <div class="col">
                <button type="submit" class="card d-flex shadow ms-auto me-4" style="width: 6rem; height: 2.3rem; background-color: #033559;">
                  <div class="h-100 d-flex justify-content-center align-items-center">
                    <h5 class="ff-source-sans text-light mb-0" style="font-weight: 700;">
                      Perbarui
                    </h5>
                  </div>
                </button>
              </div>
              {% endif %}
            </div>
            
          </form>
          </div>
        </div>
        
  
      <!-- footer -->
      <div class="text-center mt-5 mb-3 ff-source-sans pt-5" style="color: #777777 ;">
      Copyright © 2023 - All right reserved by MBKM Mandiri - BPS Provinsi Riau & Universitas Riau 2023
      </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    
</body>
</html>