{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPB - Login</title>
    <link rel="icon" href="{% static '/img/logo-bps.png'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body class="vh-100">
    <!-- card base -->
    <div class="container-fluid" style="position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="card shadow" style="background-color: #ECECEC; max-width: 75%;">
                <div class="row">
                    <!-- kolom kiri -->
                    <div class="col d-flex align-items-center justify-content-center" style="background-image: url('static/img/bg-login.png'); background-size: auto 100%;">
                        <!-- <img class="" src="{% static '/img/bg-login.png'%}" alt="bg login" style="height: 37rem;"> -->
                        <h1 class="z-2 ff-source-sans text-center" style="font-weight: 800; color: #05628B; font-size: 50px;" >SISTEM <br> PENGKLASIFIKASI <br> BERITA</h3>
                    </div>

                    <!-- kolom kanan -->
                    <div class="col d-flex justify-content-center align-item-center">
                        <div class="container mx-3">
                            <div class="row">
                                <h3 class="ff-ubuntu fw-bold mt-4 pt-3">Hey, hello</h3>
                            </div>
                            <div class="row">
                                <p class="ff-ubuntu">Silakan masukkan informasi akun anda untuk mulai menggunakan sistem </p> 
                            </div>
                            <form class="user" action="" method="POST">
                                {% csrf_token %}
                                <!-- email -->
                                <div class="row mt-2">
                                    <label class="form-label ff-ubuntu fw-bold" for="username">Username</label>
                                    <!-- <input type="text" class="form-control ff-ubuntu ms-2" style="font-size: 14px;width: 23rem;" placeholder="Masukkan Email"> -->
                                    {{form.username}}
                                </div>
                                <!-- password -->
                                <div class="row mt-4">
                                    <label class="form-label ff-ubuntu fw-bold" for="password">Password</label>
                                    <!-- <input type="password" class="form-control ff-ubuntu ms-2" style="font-size: 14px;width: 23rem;" placeholder="Masukkan Password"> -->
                                    {{form.password}}
                                </div>
                                <div class="row ms-1 mt-3">
                                    <div class="col ms-2">
                                        <div class="col-auto">
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                              <label class="form-check-label ff-ubuntu" for="autoSizingCheck2" style="font-size: 15px;">
                                                Ingat saya
                                              </label>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col ms-4">
                                        <a href="" style="text-decoration: none;">
                                           <p class="ff-ubuntu fw-bold" style="color: #7A7878; font-size: 14px;">Lupa Password ?</p> 
                                        </a>
                                    </div>
                                </div>
                                <!-- button login -->
                                <div class="row mt-3">
                                    <button type="submit" value="login" name="submit" class="btn ff-ubuntu fw-bold text-light" style="background-color: #05628B;">LOGIN</button>
                                </div>
                            </form>
                            <!-- tulisan atau -->
                            <div class="row mt-2">
                                <table width="100%">
                                    <tr>
                                      <td><hr /></td>
                                      <td style="width:1px; padding: 0 10px; white-space: nowrap; color: #7A7878;" class="ff-ubuntu fw-bold">Atau</td>
                                      <td><hr /></td>
                                    </tr>
                                  </table>
                            </div>
                            <!-- button sign in with google -->
                            <div class="row mt-2">
                                <button type="button" class="btn ff-ubuntu fw-bold" style="color: #5B5555; border: 1px solid #7A7878;">
                                    <span><iconify-icon inline icon="logos:google-icon"></iconify-icon></span>
                                    &nbsp; Masuk dengan Google</button>
                            </div>
                            <!-- tulisan belum punya akun -->
                            <div class="row mt-4">
                                <div class="col text-center">
                                    <p class="ff-ubuntu" style="color: #7A7878;">Belum punya akun?
                                    <span>
                                        <a href="" class="ff-ubuntu fw-bold" style="color: #656363; text-decoration: none;">Daftar</a>
                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="row align-items-center justify-content-center text-center mt-3 mb-3 ff-source-sans pt-3" style="color: #777777 ;">
            Copyright © 2023 - All right reserved by MBKM Mandiri - BPS Provinsi Riau & Universitas Riau 2023
        </div>
    </div>
  

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    
</body>
</html>